.chatroom-container {
  height: 300px;
}

.chatroom {
  float:left;
  height:100%;
  width: 70%;
  background: olive;
}

.chatroom-list {
  float: left;
  height: 100%;
  width: 30%;
  background: powderblue;
}